<!doctype html>
<html lang="en" xmlns:th="http://www.thimeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title th:text="${titulo}"></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Spring Boot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" th:href="@{/neeeee}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/clientes/listar}">Cliente</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
                th:text="${titulo}"></h1>

            <div th:object="${cliente}" th:remove="tag">
                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
                    role="alert">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <form th:action="@{/clientes/form}" th:object="${cliente}" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Nombre</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'">
                        <!-- Mensaje de error por defecto! -->
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Apellido</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{apellido}" class="form-control" th:errorclass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" th:field="*{email}" class="form-control" th:errorclass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha</label>
                    <div class="col-sm-6">
                        <input type="date" th:field="*{createdAt}" class="form-control" th:errorclass="'form-control alert-danger'">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="submit" value="Crear cliente" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>